<template lang="pug">
    section.page-header
        logo.left

        .menu-toggle.left(@click="toggleSidebar()")
            i.fa.fa-bars

        user-box.right
</template>

<script>
	import Logo from "./logo";
	import UserBox from "./user-box";

	export default {
		components: {
			Logo,
			UserBox
		},

        props: [
            "toggleSidebar"
        ]
	};
</script>

<style lang="scss">
</style>