<template lang="pug">
    .user-box
        .user-menu-toggle.fa.fa-user.right(@click="toggleUserMenu()")

        user-dropdown(:visible="expandedUserMenu")
</template>

<script>
	import UserDropdown from "./dropdowns/user";

	export default {

		components: {
			UserDropdown,
		},

		data() {
			return {
				expandedUserMenu: false
			};
		},

		methods: {
            toggleUserMenu() {
                this.expandedUserMenu = !this.expandedUserMenu;
            },
        }
	};
	
</script>

<style lang="scss">
    .user-menu-toggle {
        padding: 13px;
        margin: 15px;
    }
</style>