<template lang="pug">
	admin-page(:schema="schema", :selected="selected", :rows="forms")
</template>

<script>
	import AdminPage from "../../core/DefaultAdminPage.vue";
	import schema from "./schema";
	import toast from "../../core/toastr";
    import { find, map, partialRight, pick } from 'lodash';
	import { mapGetters, mapActions } from "vuex";

	export default {
		components: {
			AdminPage: AdminPage
		},

		computed: mapGetters("forms", [
			"forms",
			"selected"
		]),

		/**
		 * Set page schema as data property
		 */
		data() {
			return {
				schema
			};
		},

		/**
		 * Socket handlers. Every property is an event handler
		 */
		socket: {

			prefix: "/forms/",

			events: {
				/**
				 * New Product added
				 * @param  {Object} res Product object
				 */
				created(res) {
					this.created(res.data);
					toast.success(this._("FormAdded", res), this._("FormAdded"));
				},

				/**
				 * Product updated
				 * @param  {Object} res Product object
				 */
				updated(res) {
					this.updated(res.data);
					toast.success(this._("FormUpdated", res), this._("FormUpdated"));
				},

				/**
				 * Product removed
				 * @param  {Object} res Response object
				 */
				removed(res) {
					this.removed(res.data);	
					toast.success(this._("FormNameDeleted", res), this._("FormDeleted"));
				}
			}
		},		

		methods: {
			...mapActions("forms", [
				"downloadRows",
				"created",
				"updated",
				"removed",
				"selectRow",
				"clearSelection",
				"saveRow",
				"updateRow",
				"removeRow"
			]),
            ...mapActions("products", [
                'getProducts'
            ])
		},

		/**
		 * Call if the component is created
		 */
		created() {
		    this.getProducts(response => {
                let res = response.data;
                if (res.status === 200 && res.data) {
                    let productSelect = find(this.schema.form.fields, field => field.model === 'products')
                    if (productSelect) {
                        productSelect.values = map(res.data, partialRight(pick, ['code', 'name']));
                        window.productsOptions =  productSelect.values;
                    }
                } else {
                    console.error('Unable to load products options!', res.error);
                }
            });

			// Download rows for the page
			this.downloadRows();
		}
	};
</script>