<template lang="pug">
	admin-page(:schema="schema", :selected="selected", :rows="products")
</template>

<script>
	import AdminPage from "../../core/DefaultAdminPage.vue";
	import schema from "./schema";
	import toast from "../../core/toastr";

	import { mapGetters, mapActions } from "vuex";

	export default {
		components: {
			AdminPage: AdminPage
		},

		computed: mapGetters("products", [
			"products",
			"selected"
		]),

		/**
		 * Set page schema as data property
		 */
		data() {
			return {
				schema
			};
		},

		/**
		 * Socket handlers. Every property is an event handler
		 */
		socket: {

			prefix: "/products/",

			events: {
				/**
				 * New Product added
				 * @param  {Object} res Product object
				 */
				created(res) {
					this.created(res.data);
					toast.success(this._("ProductAdded", res), this._("ProductAdded"));
				},

				/**
				 * Product updated
				 * @param  {Object} res Product object
				 */
				updated(res) {
					this.updated(res.data);
					toast.success(this._("ProductUpdated", res), this._("ProductUpdated"));
				},

				/**
				 * Product removed
				 * @param  {Object} res Response object
				 */
				// removed(res) {
				// 	this.removed(res.data);
				// 	toast.success(this._("ProductNameDeleted", res), this._("ProductDeleted"));
				// }
			}
		},		

		methods: {
			...mapActions("products", [
				"downloadRows",
				"created",
				"updated",
				"removed",
				"selectRow",
				"clearSelection",
				"saveRow",
				"updateRow",
				// "removeRow"
			])
		},

		/**
		 * Call if the component is created
		 */
		created() {
			// Download rows for the page
			this.downloadRows();
		}
	};
</script>