<template lang="pug">
.container
    h1 Home
    p
        span 1.
        | Set all necessary values in Settings first
    p
        span 2.
        | Create products
    p
        span 3.
        | Create a form
    p
        span 4.
        | Put the code of a form on your page

    .guide
        section


</template>

<script>
	export default {

		methods: {

		}
	};

</script>

<style lang="scss" scoped>
	@import "../../../scss/themes/blurred/variables";

	.container {
		padding: 0 1rem;
	}

	section {
		&:not(:last-child) {
			margin-bottom: 40px;
		}

		> h2 {
			font-size: 1.5rem;
			margin-bottom: 20px;
			padding: 8px 10px;
			
			background-color: rgba(darken($backgroundColor, 10%), 0.6);
			border: 1px solid darken($backgroundColor, 8%);
			border-radius: 8px;
			
			.number {
				color: #888;
			}
			
			.text {
				margin-left: 4px;
				font-weight: $fontLight;
				text-transform: uppercase;
			}
			
			clear: both;
			
		} // .title

	} //. section
</style>