<template lang="pug">
    ul.dropdown-menu.user-menu(:class="{ 'visible': visible }")

        li.profile-data(:title="meLoaded ? me.fullName : ''")
            img.avatar(:src='(meLoaded ? me.avatar : false) || "http://theideapal.com/cdn-storage/2016-template/images/no-avatar.jpg"')
            .username {{ meLoaded ? me.fullName : ''}}

        li
            a(href='/logout')
                .icon
                    i.fa.fa-power-off
                | {{ "Logout" | i18n }}
</template>

<script>
    import { mapGetters } from "vuex";
	export default {
        computed: {
            ...mapGetters("session", [
                "me"
            ]),
            meLoaded() {
                return this.me !== null
            }
        },

		props: [
			"visible"
		]

	};
	
</script>

<style lang="scss">
    .avatar {
        margin:5px;
        // @TODO implement crop images
        height:30px;
        width: 30px;
        float: left;
    }
    .profile-data {
        height: 40px;
        line-height: 40px;
        max-width: 200px;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }
</style>