<template lang="pug">
    .container
        h3.title {{ title }}

        .form
            vue-form-generator(:schema='form', :model='me', :options='options',  ref="form", :is-new-model="false")

            .errors.text-center
                div.alert.alert-danger(v-for="(item, index) in validationErrors", :key="index") {{ item.field.label }}:
                    strong {{ item.error }}

            .buttons.flex.justify-space-around
                button.button.primary(@click="save")
                    i.icon.fa.fa-save
                    | {{_("Save") }}

</template>

<script>

    import toast from "../../core/toastr";
    import { mapGetters } from "vuex";
    import axios from 'axios';
    import { schema, validators } from 'vue-form-generator';
    import { find, isFunction } from "lodash";
    import Vue from 'vue';
    let _ = Vue.prototype._;
    export default {
        socket: {
            prefix: "/settings/",
            events: {
                /**
                 * Settings updated
                 * @param  {Object} res User object
                 */
                updated(res) {
                    toast.success(this._("SettingsUpdated", res), this._("SettingsUpdated"));
                },
            }
        },

        data() {
            return {
				title: _('Settings'),
				form: {
                    fields: [
                        {
                            type: 'input',
                            inputType: 'text',
                            label: _('PaypalClientId'),
                            model: 'paypalClientId',
                            required: true,
                            placeholder: _('EnterPaypalClientId'),
                            validator: validators.string
                        },
                        {
                            type: 'input',
                            inputType: 'text',
                            label: _('PaypalSecret'),
                            model: 'paypalSecret',
                            required: true,
                            placeholder: _('EnterPaypalSecret'),
                            validator: validators.string
                        },
                        {
                            type: 'select',
                            label: _('PaypalAccountType'),
                            model: 'paypalAccountType',
                            required: true,
                            values: ['sandbox', 'live'],
                            validator: validators.string
                        },
                    ]
                },
                options: {
					validateAfterLoad: false,
					validateAfterChanged: false,
					validateBeforeSave: true,
                },
				apiNamespace: '/api/settings'
            };
        },

        computed: {
			events() {
                return {
                    onValidated(model, errors) {
                        if (errors.length > 0)
                            console.warn('Validation error in page! Errors:', errors, ', Model:', model);
                    }
                }
			},


            validationErrors() {
                if (this.$refs.form && this.$refs.form.errors)
                    return this.$refs.form.errors;

                return [];
            },

            ...mapGetters('session', [
                'me'
            ]),
        },

        methods: {
            save() {
                console.log(this.me)
                console.info("Save settings...");
                if (this.options.validateBeforeSave === false || this.validate()) {
                    axios.put(this.apiNamespace +'/' + this.me.code, this.me).then((response) => {

                    }).catch((response) => {
                        toast.error(response);
                    });
                } else {
                    console.error('error while saving');
                }
            },

            validate()	{
                let res = this.$refs.form.validate();

                if (this.events && isFunction(this.events.onValidated)) {
                    this.events.onValidated(this.me, this.$refs.form.errors);
                }

                if (!res) {
                    // Set focus to first input with error
                    this.$nextTick(() => {
                        let el = document.querySelector("div.form tr.error input:nth-child(1)");
                        if (el)
                            el.focus();
                    });
                }

                return res;
            }
        },
    };

</script>

<style lang="scss" scoped>
    @import "../../../scss/common/mixins";

    .container {
        padding: 1rem;
    }

    .form {
        padding: 10px;

        margin: 1rem 0;

        @include bgTranslucentDark(0.2);
        border-radius: 8px;

        .buttons {
            max-width: 400px;
            padding: 0.5em;
        }

    }
</style>
