<template lang="pug">
	admin-page(:schema="schema", :selected="selected", :rows="payments")
</template>

<script>
	import AdminPage from "../../core/DefaultAdminPage.vue";
	import schema from "./schema";
	import toast from "../../core/toastr";

	import { mapGetters, mapActions } from "vuex";

	export default {
		components: {
			AdminPage: AdminPage
		},

		computed: mapGetters("payments", [
			"payments",
			"selected"
		]),

		/**
		 * Set page schema as data property
		 */
		data() {
			return {
				schema
			};
		},

		/**
		 * Socket handlers. Every property is an event handler
		 */
		socket: {

			prefix: "/payments/",

			events: {
				/**
				 * New Payment added
				 * @param  {Object} res Payment object
				 */
				created(res) {
					this.created(res.data);
					toast.success(this._("PaymentAdded", res), this._("PaymentAdded"));
				},

				/**
				 * Payment updated
				 * @param  {Object} res Payment object
				 */
				updated(res) {
					this.updated(res.data);
					toast.success(this._("PaymentUpdated", res), this._("PaymentUpdated"));
				},
                
			}
		},		

		methods: {
			...mapActions("payments", [
				"downloadRows",
				"created",
				"updated",
				"selectRow",
				"clearSelection",
			])
		},

		/**
		 * Call if the component is created
		 */
		created() {
			// Download rows for the page
			this.downloadRows();
		}
	};
</script>