<template lang="pug">
    aside.nav(:class="{ mini: minimized }")
        .menu
            ul
                router-link(tag="li", to="/")
                    a(:title="_('Home')")
                        span.icon
                            i.fa.fa-home
                        span.label {{ "Home" | i18n }}

                router-link(tag="li", to="/settings")
                    a(:title="_('Settings')")
                        span.icon
                            i.fa.fa-cog
                        span.label {{ "Settings" | i18n }}

                router-link(tag="li", to="/products")
                    a(:title="_('Products')")
                        span.icon
                            i.fa.fa-cart-arrow-down
                        span.label {{ "Products" | i18n }}

                router-link(tag="li", to="/forms")
                    a(:title="_('Forms')")
                        span.icon
                            i.fa.fa-code
                        span.label {{ "Forms" | i18n }}

                router-link(tag="li", to="/payments")
                    a(:title="_('Payments')")
                        span.icon
                            i.fa.fa-cc-paypal
                        span.label {{ "Payments" | i18n }}


        .footer
            .copyright &copy; Copyright, 2018
</template>

<script>

	export default {
		props: [
			"minimized"
		]
	};
	
</script>

<style lang="scss">
</style>