.
    (function () {
        var parentTag = document.scripts[document.scripts.length - 1].parentNode;
        var div = document.createElement('div');
        var products = [#{products}];
        var form = #{form};
        var productsInputs = '';
        for (var i = 0; i < products.length; i++) {
            productsInputs += '<div class="square_#{id}">' + products[i].currency + '<label>' + products[i].price + '</label>';
            productsInputs += '<input type="radio" name="product_code" value="' + products[i].code + '"></div>'
        }
        div.innerHTML = '<form class="form_#{id}" action="#{url}" method="post">' +
            '    <input type="hidden" name="form_code" value="#{id}">' +
            '    <input type="hidden" name="to" value="' + form.userCode+ '">' +
            '    <input type="hidden" name="referrer" value= "' + window.location.href + '">' +
            '    <p class="step_#{id}"><span class="number_#{id}">1</span> step</p>' +
            '    <div class="squares_#{id}">' + productsInputs +
            '        <div class="custom_square_ square_#{id}"><input type="text" name="amount" placeholder="Custom Amount"></div>' +
            '    </div>' +
            '    <div class="is_monthly_#{id}"><input type="checkbox" name="is_monthly">&nbsp;Make this monthly</div>' +
            '    <p class="step_#{id}"><span class="number_#{id}">2</span> step</p>' +
            '    <div class="personal_from_#{id}">' +
            '        <label for="">fullname</label><input type="text" name="fullname" required>' +
            '        <label for="">Email</label><input type="email" name="email" required>' +
            '    </div>' +
            '    <p class="step_#{id}"><span class="number_#{id}">3</span> step</p>' +
            '    <div class="credit_card_#{id}">' +
            '        <div class="inline_#{id} inline_#{id}_no"><label for="">No</label><input type="number" name="card_no" required></div>' +
            '        <div class="inline_#{id} inline_#{id}_exp_m"><label for="">Exp M</label><input type="number" name="card_exp_month" required></div>' +
            '        <div class="inline_#{id} inline_#{id}_exp_y"><label for="">Exp Y</label><input type="number" name="card_exp_year" required></div>' +
            '        <div class="inline_#{id} inline_#{id}_cvc"><label for="">CVC</label><input type="number" name="card_cvc" required></div>' +
            '        <div class="inline_#{id} inline_#{id}_zip"><label for="">Zip</label><input type="number" name="card_zip" required></div>' +
            '    </div>' +
            '    <button class="submit_#{id}">Join</button>' +
            '    <p>#{status}</p>' +
            '</form>';
        parentTag.appendChild(div)
        var style = document.createElement('style');
        style.type = 'text/css';
        css = '.form_#{id} {background:#fff;color:#232323; padding: 10px 15px; height: ' + (form.height || 300) + (form.heightMeasure || 'px') + '; width: ' + (form.width || 300) + (form.widthMeasure || 'px') + '}\n'+
        '.form_#{id} .step_#{id} {font-size:12px; font-weight: 800}\n'+
        '.form_#{id} .step_#{id} .number_#{id} {display:inline-block; padding:3px; line-height:10px; background:green; border-radius:50%; height:10px;width:10px; text-align:center; color:#fff; font-weight:800}\n'+
        '.form_#{id} .squares_#{id} {}\n'+
        '.form_#{id} .squares_#{id} .square_#{id} {display:inline-block; font-size:12px; width: 85px; margin: 7px 5px; border: 1px solid #ccc; height:55px; line-height:55px; text-align:center}\n'+
        '.form_#{id} .squares_#{id} .square_#{id} label {font-size:25px}\n'+
        '.form_#{id} .squares_#{id} .square_#{id} input {}\n'+
        '.form_#{id} .squares_#{id} .square_#{id}:last-child {border-right:0; border-top:0; border-bottom:0}\n'+
        '.form_#{id} .squares_#{id} .square_#{id}:last-child input[type="text"] {padding:10px;width:85px;height:55px;border:0;outline:0; line-height: 55px; font-size:10px}\n'+
        '.form_#{id} .is_monthly_#{id} {border: 1px solid #f7be02; padding: 7px; font-size: 12px; background: #fff7e0}\n'+
        '.form_#{id} .is_monthly_#{id} input\n'+
        '.form_#{id} .personal_from_#{id} {}\n'+
        '.form_#{id} .personal_from_#{id} label {display:block; font-size:10px; margin: 10px 0 5px 0;}\n'+
        '.form_#{id} .personal_from_#{id} input {display:block; width: 100%}\n'+
        '.form_#{id} .credit_card_#{id} {}\n'+
        '.form_#{id} .credit_card_#{id} .inline_#{id} {display:inline-block;margin:0 5px; font-size:10px}\n'+
        '.form_#{id} .credit_card_#{id} .inline_#{id}_no {width:95px;}\n'+
        '.form_#{id} .credit_card_#{id} .inline_#{id}_exp_m {width:30px;}\n'+
        '.form_#{id} .credit_card_#{id} .inline_#{id}_exp_y {width:30px;}\n'+
        '.form_#{id} .credit_card_#{id} .inline_#{id}_cvc {width:35px;}\n'+
        '.form_#{id} .credit_card_#{id} .inline_#{id}_zip {width:40px;}\n'+
        '.form_#{id} .credit_card_#{id} .inline_#{id} label {display:block; font-size:10px}\n'+
        '.form_#{id} .credit_card_#{id} .inline_#{id} input {display:block; width: 100%}\n'+
        '.form_#{id} .submit_#{id} {display:block; width: 100px; height: 30px; line-height:30px; font-size: 20px; color:#fff; margin: 20px auto 0 auto; background: blue; border: 0}';
        if (style.styleSheet) {
            style.styleSheet.cssText = css;
        } else {
            style.appendChild(document.createTextNode(css));
        }
        parentTag.appendChild(style)
    })();