<template lang="pug">

</template>

<script>
	export default {
        created() {
            console.log('Frontend loaded!');
        }
	};
</script>

<style lang="scss">
	@import "../../scss/frontend.scss";
</style>